.App {
  text-align: center;
  min-height: 100vh;
  min-width: 50vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.left, .middle, .right {
  background-color: #282c34;
  display: grid;
  grid-template-rows: 50vh 50vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bottom-left {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

button {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: .5px solid grey;
  border-radius: 10px;
  font-size: 50%;
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment {
  border: solid white .5px;
  border-radius: 50px;
  padding-bottom: 30px;
  margin: 20px;
}

.name {
  font-size: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.input-container input, .input-container textarea {
  width: 300px;
  margin: 10px;
  border-radius: 5px;
  border: solid grey 1px;
  padding: 5px 0 20px 5px;
}


